* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/********************* SPLASH ************************/

#splash img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#splash h1 {
    font-size: 62px;
}

/********************* h1,h2,h3,p,ul,li,column p ************************/

h1 {
    font-size: 45px;
    color: #3E4A59;
    margin-left: 20px;
    text-align: center;
}

h2 {
    font-size: 15px;
    margin-left: 20px;
    color: #3E4A59;
}

h3 {
    font-size: 30px;
    color: #3E4A59;
    margin-left: 20px;
    text-align: center;
}

ul,
li {
    font-size: 16px;
    margin-left: 15px;
    color: #3E4A59;
    width: 100%;
}

.vaerktojer {
    width: 70%;
    margin: auto;
    padding-bottom: 10px;
}

.vaerktojer h2 {
    font-size: 20px;
    color: #3E4A59;
}

#menu h1 {
    padding-top: 30px;
}

p {
    color: #3E4A59;
    font-size: 18px;
}

/********************* KNAPPER ************************/

#knapper button {
    background-color: #3E4A59;
    margin: 10px;
    padding: 5px;
    width: 8.5vw;
    height: 3.5vw;
    font-size: 1vw;
    color: #ffffff;
    border-radius: 4px;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

#knapper {
    justify-content: center;
    display: flex;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
}

/********************* ALLE_PROJEKTER KNAPPER ************************/

#projekt_container {
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.box {
    flex-basis: 300px;
    flex-grow: 1;
    margin: 0 auto;
    width: 70%;
    padding-right: 40px;
}

.box p {
    text-align: center;
}

.box img {
    width: 100%;
    height: 70%;
    margin: 15px;
}

/********************* TEMA KNAPPER ************************/

.tema_h1 {
    padding-top: 35px;
}

#tema_container {
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

#tema_container p {
    text-align: center;
}

.tema_portflex {
    flex-basis: 300px;
    flex-grow: 1;
    margin: 0 auto;
    width: 70%;
    padding-right: 40px;
}

.tema_portflex img {
    width: 100%;
    height: 70%;
    margin: 15px;
}

/********************* CV.HTML ************************/

#cv {
    width: 100%;
}

#cv p {
    font-size: 18px;
    margin: 0 auto;
    color: #33485A;
    padding: 10px;
    width: 105%;
}

#cv h1 {
    margin: auto;
    padding-bottom: 25px;
    padding-top: 40px;
    text-align: left;
    width: 70%;
    padding: 10px;
}

#cv_container {
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.cv_tekst {
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
    padding-right: 40px;
}

#cv_billede {
    margin: auto;
    width: 100%;
    flex-basis: 250px;
    flex-grow: 1;
}

#cv_billede p {
    font-size: 15px;
    margin: 0 auto;
    color: #33485A;
    padding: 10px;
    padding-right: 20px;
    width: 105%;
}

#cv_billede img {
    width: 80%;
    margin: auto;
    flex-grow: 1;
    flex-basis: 300px;
    padding: 10px;
}

/********************* STILARTSITE.HTML ************************/

#stilartsite {
    width: 100%;
}

#stilartsite .vaerktojer img {
    width: 38%;
}

#stilartsite p {
    font-size: 18px;
    margin: 0 auto;
    color: #33485A;
}

#stilartsite h1 {
    margin: auto;
    padding-bottom: 45px;
}

.stilartsite_tekst {
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
}

.stilartsite_tekst img {
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
}

.container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#stilartsite .column_left {
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
    flex-basis: 300px;
    flex-grow: 1;
}

#stilartsite .column_right {
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    flex-basis: 300px;
    flex-grow: 1;
}

#stilartsite .column_right img {
    width: 70%;
    margin: auto;
    flex-basis: 300px;
    flex-grow: 1;
}

/********************* REDESIGN.HTML ************************/

#redesign .vaerktojer img {
    width: 38%;
}

#redesign_tekst {
    width: 100%;
}

.kode p {
    font-size: 13px;
}

#redesign h1 {
    margin: auto;
    padding-bottom: 45px;
}

.redesign_intro p {
    padding-top: 20px;
}

.redesign_midt p {
    padding-top: 20px;
}

.redesign_tekst {
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
}

.redesign_billede {
    flex-wrap: wrap;
    width: 100%;
}

.redesign_billede img {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
}

/********************* DYKKERPIGE.HTML ************************/

#dykkerpige .vaerktojer img {
    width: 55%;
}

#dykkerpige {
    width: 100%;
}

#dykkerpige p {
    font-size: 18px;
    margin: 0 auto;
    color: #33485A;
}

#dykkerpige h1 {
    margin: auto;
    padding-bottom: 45px;
}

#dykkerpige_tekst {
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
}

#dykkerpige_tekst_2 {
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
}

#dykkerpige_tekst_2 img {
    width: 100%;
    margin: auto;
    padding-top: 25px;
}

#dykkerpige_tekst img {
    width: 100%;
    margin: auto;
    padding-top: 25px;
}

.container_dykkerpige {
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.dykkerpige_column_left {
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
    flex-basis: 350px;
    flex-grow: 1;
}

.dykkerpige_column_right {
    width: 70%;
    margin: auto;
    flex-basis: 350px;
    flex-grow: 1;
}

.dykkerpige_column_right img {
    width: 100%;
    margin: auto;
    flex-basis: 350px;
    flex-grow: 1;
}

/****************** SEX&SAMFUND.HTML *********************/

#sexogsamfund .vaerktojer img {
    width: 55%;
}

#sexogsamfund {
    width: 100%;
}

#sexogsamfund h1 {
    margin: auto;
    padding-bottom: 45px;
}

.sexogsamfund_intro p {
    padding-top: 20px;
}

.sexogsamfund_tekst {
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
}

.sexogsamfund_tekst p {
    padding-top: 20px;
}

.container_sexogsamfund {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.sexogsamfund_column_left {
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
    flex-basis: 350px;
    flex-grow: 1;
}

.sexogsamfund_column_left img {
    width: 100%;
    margin: auto;
    padding-top: 25px;
    flex-basis: 350px;
    flex-grow: 1;
}

/********************* BIGBEN.HTML ************************/

#bigben .vaerktojer img {
    width: 28%;
}

#bigben {
    width: 100%;
}

#bigben h1 {
    margin: auto;
    padding-bottom: 45px;
}

.bigben_intro p {
    padding-bottom: 20px;
}

.bigben_midt {
    padding-bottom: 20px;
    padding-top: 20px;
}

#bigben_tekst {
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
}

#bigben_tekst p {
    padding-bottom: 20px;
    padding-top: 20px;
}

/********************* CPH:DOX.HTML ************************/

#cphdox .vaerktojer img {
    width: 28%;
}

#cphdox {
    width: 100%;
}

#cphdox h1 {
    margin: auto;
    padding-bottom: 45px;
}

.cphdox_intro p {
    padding-bottom: 20px;
}

.cphdox_midt p {
    padding-bottom: 20px;
    padding-top: 20px;
}

#cphdox_tekst {
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
}

/********************* KEAN.HTML ************************/

#kean .vaerktojer img {
    width: 42vw;
}

#kean {
    width: 100%;
}

#kean h1 {
    margin: auto;
    padding-bottom: 45px;
}

#kean p {
    padding-bottom: 20px;
}

#kean_tekst {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70%;
}

.kean_container {
    width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.kean_samlet {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.kean_column {
    flex-basis: 300px;
    flex-grow: 1;
    padding-bottom: 15px;
    margin: auto;
}

.kean_mobil img {
    width: 100%;
    margin: auto;
}

.kean_column img {
    width: 95%;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 100%;
    flex-basis: 350px;
    flex-grow: 1;
}

.column img {
    width: 100%;
    height: 90%;
}

/********************* REPUBLIKKEN.HTML ************************/

#republikken .vaerktojer img {
    width: 42vw;
}

#republikken {
    width: 100%;
}

#republikken h1 {
    margin: auto;
    padding-bottom: 45px;
}

#republikken p {
    padding-bottom: 20px;
}

#republikken_tekst {
    flex-wrap: wrap;
    margin: auto;
    width: 70%;
}

.republikke_column {
    width: 100%;
    margin: auto;
}

.republikken_column_skaerm img {
    width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    padding-bottom: 15px;
}

.republikken_column img {
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
}

.republikken_billede {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.republikken_column_left {
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    flex-basis: 350px;
    flex-grow: 1;
}

.republikken_column_left img {
    width: 100%;
    margin: auto;
    flex-basis: 350px;
    flex-grow: 1;
}

.republikke_column_right {
    width: 100%;
    margin: auto;
}

.republikken_column_right img {
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
}

/********************* FOOTER ************************/

footer {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    object-position: bottom;
    height: auto;
    padding-top: 30px;
}
